<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="400px" fxFlex.gt-sm="50">
        <mat-card class="profile-sidebar mb-16 pb-0">
            <div class="propic text-center">
                <img [src]=photo alt="">
            </div>
            <div class="profile-title text-center mb-16">
                <!--        <div class="main-title">{{(user | async)?.displayName}}</div>-->
                <div class="subtitle mb-8">{{member.firstName +" "+member.lastName}}</div>
                <div class="text-muted">diploma</div>
            </div>
            <div class="profile-nav">
                <mat-nav-list>
                    <mat-divider></mat-divider>
                    <mat-list-item routerLink="/profile/settings" routerLinkActive="list-item-active">
                        <mat-icon>settings</mat-icon>
                        Settings
                    </mat-list-item>
                    <mat-divider></mat-divider>

                </mat-nav-list>
            </div>
        </mat-card>


    </div>

    <!-- Profile Views -->
    <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 400px)">
        <router-outlet></router-outlet>
    </div>
</div>
