<div fxLayout="row wrap">
    <mat-form-field class="pl-16 pr-16" appearance="outline">
        <input
                matInput
                placeholder="filter by Title"
                value=""
                (keyup)='filterBySearchField($event)'
        >
    </mat-form-field>
    <mat-form-field class="pl-16 pr-16" appearance="outline">
        <input
                matInput
                placeholder="filter by Type"
                value=""
                (keyup)='filterBySearchField($event)'
        >
    </mat-form-field>
    <mat-form-field class=" pr-16" appearance="outline">
        <input
                placeholder="filter by Author"
                value=""
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
                (keyup)="filterByAuthorName($event)"
        >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let supervisor of filteredOptions | async" [value]="supervisor">
                {{supervisor}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


    <button mat-stroked-button class="filter-button" (click)="openDialog()">
        <mat-icon class="pr-16">date_range</mat-icon>
        Filter by release period
    </button>

    <span fxFlex></span>
    <div class="m-333">
        <button mat-button class="button-add" (click)="openPopUp({}, true)">
            <mat-icon style="color: #c0320d">add_circle</mat-icon>
            Add Article
        </button>
    </div>
</div>

<mat-card-content>

    <div fxLayout="row wrap">
        <div *ngFor="let article of rows" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
            <mat-card class="plan-pricing text-center p-0">
                <mat-card-title class="light-gray mb-16">
                    <div class="card-title-text">
                        <div class=""><h1><strong>{{article.title}}</strong></h1>
                            <div class="text-sm text-muted">type : {{article.type}}</div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content>
                    <div class=" pt-16 pb-16 border-right-light" style="padding-right: 20px">
                        <div fxLayout="column wrap">
                            <h3 style="color: #0b72e7">
                                <mat-icon>event_available</mat-icon>
                                Created date :  {{article.createdDate}}</h3>
                            <h4 style="color: #0d243f">
                                <mat-icon>people_outline</mat-icon>
                                authored by :
                            </h4>
                            <h5 *ngFor="let member of article.membersNames" style="color: #094f9d">-- {{member}}</h5>
                            <div class="text-sm text-muted">url : <a href="{{article.url}}"
                                                                     target="_blank">{{article.url}}</a></div>

                        </div>
                    </div>
                    <button mat-icon-button class="mr-8" color="primary"
                            (click)="onDownloadFile(article.pdfSource.name)">
                        <mat-icon>cloud_download</mat-icon>
                    </button>

                    <button *ngIf="contains(article,currentUserId) || role==='ROLE_ADMIN'" mat-icon-button mat-sm-button class="mr-8"
                            style="color: green"
                            (click)="openPopUp(article,false)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="mr-8" color="warn" (click)="affect(article)">
                        <mat-icon>add_task</mat-icon>
                    </button>

                    <button *ngIf="role==='ROLE_ADMIN'" mat-icon-button mat-sm-button color="warn"
                            (click)="deleteItem(article.title, article.articleId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>


    </div>
</mat-card-content>
