
<div *ngIf="data.isTool===true" class="p-16 m-0">

  <div  fxLayoutAlign="space-between center">
    <div>
      <h2 class="green-300-fg">Affect author to this tool</h2>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <div mat-dialog-content class="p-16 m-0">


        <div fxFlex="90">
          <mat-select placeholder="Select member"
                      matInput
                      [(ngModel)]="member"
          >
            <div>
              <mat-option *ngFor="let member of members" [value]="member">
                {{member.firstName}} {{member.lastName}}
              </mat-option>
            </div>
          </mat-select>

        </div>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

    <button
            mat-stroked-button
            color="warn"
            (click)="onSubmit()"
    >
      affect member
    </button>
  </div>
</div>
<div *ngIf="data.isStudent===true" class="p-16 m-0">

  <div  fxLayoutAlign="space-between center">
    <div>
      <h2 class="green-300-fg">Affect Supervisor to {{student}}</h2>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <div mat-dialog-content class="p-16 m-0">


    <div fxFlex="90">
      <mat-select placeholder="Select supervisor"
                  matInput
                  [(ngModel)]="supervisor"
      >
        <div>
          <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor">
            {{supervisor.firstName}} {{supervisor.lastName}}
          </mat-option>
        </div>
      </mat-select>

    </div>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

    <button
            mat-stroked-button
            color="warn"
            (click)="onSubmit()"
    >
      affect supervisor
    </button>
  </div>
</div>
