<div fxLayoutAlign="space-between center">
    <div>
        <h2 class="green-300-fg">Choose Your period time </h2>
    </div>
    <button mat-icon-button  aria-label="Close dialog" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div *ngIf="data.isTool===true || data.isStudent===false" fxLayout="row wrap" class="example-section1">
    <div fxFlex="90" fxFlex.gt-xs="50">
        <div style="margin-top: 19px">
            <h5>Start date</h5>
        </div>
        <div>
            <form [formGroup]="basicForm" >
            <mat-form-field fxFlex.gt-xs="90" appearance="outline">
                <input
                        matInput
                        [matDatepicker]="startDateDP"
                        placeholder="Greater than"
                        name="createdDateGT"
                        formControlName="createdDateGT"
                        >
                <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
                <mat-datepicker #startDateDP></mat-datepicker>

            </mat-form-field>
            </form>
        </div>
    </div>
    <div fxFlex="90" fxFlex.gt-xs="50">
        <div style="margin-top: 19px">
            <h5>End date</h5>
        </div>
        <div>
            <form [formGroup]="basicForm" novalidate >
            <mat-form-field fxFlex.gt-xs="90" appearance="outline">
                <input
                        matInput
                        [matDatepicker]="endDateDP"
                        placeholder="Less than"
                        name="createdDateLT"
                        formControlName="createdDateLT"
                        >
                <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
                <mat-datepicker #endDateDP></mat-datepicker>
            </mat-form-field>
            </form>
        </div>
    </div>
</div>
<div  *ngIf="data.isStudent===true" fxLayout="row wrap" class="example-section1">
    <div fxFlex="90" fxFlex.gt-xs="50">
        <div style="margin-top: 19px">
            <h5>Start date</h5>
        </div>
        <div>
            <form [formGroup]="basicForm" >
                <mat-form-field fxFlex.gt-xs="90" appearance="outline">
                    <input
                            matInput
                            [matDatepicker]="startDateDP"
                            placeholder="Greater than"
                            name="inscriptionDateGT"
                            formControlName="inscriptionDateGT"
                    >
                    <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
                    <mat-datepicker #startDateDP></mat-datepicker>

                </mat-form-field>
            </form>
        </div>
    </div>
    <div fxFlex="90" fxFlex.gt-xs="50">
        <div style="margin-top: 19px">
            <h5>End date</h5>
        </div>
        <div>
            <form [formGroup]="basicForm" novalidate >
                <mat-form-field fxFlex.gt-xs="90" appearance="outline">
                    <input
                            matInput
                            [matDatepicker]="endDateDP"
                            placeholder="Less than"
                            name="inscriptionDateLT"
                            formControlName="inscriptionDateLT"
                    >
                    <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
                    <mat-datepicker #endDateDP></mat-datepicker>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>


<div *ngIf="data.isStudent===true" mat-dialog-actions class="m-0 p-16" fxLayoutAlign="center">
    <button mat-stroked-button color="warn" (click)="applyInscriptionDatePeriodFilter()" >Apply filter</button>
</div>
<div *ngIf="data.isTool===true " mat-dialog-actions class="m-0 p-16" fxLayoutAlign="center">
    <button mat-stroked-button color="warn" (click)="applyToolCreatedDatePeriodFilter()" >Apply filter</button>
</div>
<div *ngIf="data.isStudent===false" mat-dialog-actions class="m-0 p-16" fxLayoutAlign="center">
    <button mat-stroked-button color="warn" (click)="applyCreatedDatePeriodFilter()" >Apply filter</button>
</div>
