<!--<div class="event-dialog-wrapper">-->
<!--  <mat-toolbar matDialogTitle class="mat-primary m-0">-->
<!--    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">-->
<!--      <span class="title dialog-title">{{dialogTitle}}</span>-->
<!--      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">-->
<!--        <mat-icon>close</mat-icon>-->
<!--      </button>-->
<!--    </div>-->
<!--  </mat-toolbar>-->

<!--  <div mat-dialog-content class="p-16 m-0">-->

<!--    <form name="eventForm" [formGroup]="eventForm" class="event-form" fxFlex>-->
<!--      <div fxLayout="row wrap" fxLayout.lt-sm="column">-->

<!--        <div fxFlex="100">-->
<!--          <mat-form-field class="full-width">-->
<!--            <input-->
<!--            matInput-->
<!--            name="title"-->
<!--            formControlName="title"-->
<!--            placeholder="Title"-->
<!--            required>-->
<!--          </mat-form-field>-->
<!--        </div>-->

<!--        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100" formGroupName="color">-->
<!--          <mat-form-field fxFlex>-->
<!--            <input-->
<!--            matInput-->
<!--            class="color-picker-input"-->
<!--            name="primaryColor"-->
<!--            formControlName="primary"-->
<!--            placeholder="Primary color"-->
<!--            [(colorPicker)]="event.color.primary"-->
<!--            [style.background]="event.color.primary"-->
<!--            (colorPickerChange)="eventForm.patchValue({color:{primary: event.color.primary}})"-->
<!--            />-->
<!--          </mat-form-field>-->
<!--          <span fxFlex="16px"></span>-->

<!--          <mat-form-field fxFlex>-->
<!--            <input-->
<!--            matInput-->
<!--            class="color-picker-input"-->
<!--            name="secondaryColor"-->
<!--            formControlName="secondary"-->
<!--            placeholder="Secondary color"-->
<!--            [(colorPicker)]="event.color.secondary"-->
<!--            [style.background]="event.color.secondary"-->
<!--            (colorPickerChange)="eventForm.patchValue({color:{secondary: event.color.secondary}})"-->
<!--            />-->
<!--          </mat-form-field>-->
<!--        </div>-->

<!--        <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100">-->
<!--          <mat-form-field fxFlex>-->
<!--            <input-->
<!--            matInput-->
<!--            [matDatepicker]="startDateDP"-->
<!--            placeholder="Start Date"-->
<!--            name="startDate"-->
<!--            formControlName="start">-->
<!--            <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #startDateDP></mat-datepicker>-->
<!--          </mat-form-field>-->
<!--          <span fxFlex="16px"></span>-->

<!--          <mat-form-field fxFlex>-->
<!--            <input-->
<!--            matInput-->
<!--            [matDatepicker]="endDateDP"-->
<!--            placeholder="End Date"-->
<!--            name="endDate"-->
<!--            formControlName="end">-->
<!--            <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #endDateDP></mat-datepicker>-->
<!--          </mat-form-field>-->
<!--        </div>-->

<!--        <div fxLayout="column" fxFlex="100">-->
<!--          <mat-form-field class="">-->
<!--            <input-->
<!--            matInput-->
<!--            name="location"-->
<!--            formControlName="location"-->
<!--            placeholder="Location">-->
<!--          </mat-form-field>-->

<!--        </div>-->

<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">-->

<!--    <button-->
<!--    mat-raised-button-->
<!--    color="primary"-->
<!--    (click)="dialogRef.close({action: 'save', event: eventForm.value})"-->
<!--    [disabled]="eventForm.invalid"-->
<!--    aria-label="SAVE">-->
<!--    Save-->
<!--    </button>-->

<!--    <button-->
<!--    *ngIf="action ==='edit'"-->
<!--    mat-icon-button color="warn"-->
<!--    (click)="dialogRef.close({action: 'delete'})"-->
<!--    aria-label="Delete"-->
<!--    matTooltip="Delete">-->
<!--      <mat-icon>delete</mat-icon>-->
<!--    </button>-->

<!--  </div>-->
<!--</div>-->
<div class="p-16 m-0">

    <div fxLayoutAlign="space-between center">
        <div>
            <h2 class="green-300-fg">{{dialogTitle}}</h2>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>


    <div mat-dialog-content class="p-16 m-0">

        <form name="eventForm" [formGroup]="eventForm" class="event-form" fxFlex>
            <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="90">
                    <mat-form-field class="full-width"  appearance="outline">
                        <input
                                matInput
                                name="title"
                                formControlName="title"
                                placeholder="Title"
                                required>
                    </mat-form-field>
                </div>
                <div fxFlex="90">

                    <mat-form-field class="full-width" appearance="outline">
                        <input
                                matInput
                                name="location"
                                formControlName="location"
                                placeholder="Location">
                    </mat-form-field>
                </div>
                <div fxLayout="row wrap" class="example-section1">
                    <div fxFlex="90" fxFlex.gt-xs="48">
                        <div style="margin-top: 19px">
                            <h5>Start date</h5>
                        </div>
                        <div>
                            <mat-form-field fxFlex.gt-xs="90" appearance="outline">
                                <input
                                        matInput
                                        [matDatepicker]="startDateDP"
                                        placeholder="Start Date"
                                        name="start"
                                        formControlName="start">
                                <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
                                <mat-datepicker #startDateDP></mat-datepicker>

                            </mat-form-field>

                        </div>
                    </div>
                    <div fxFlex="90" fxFlex.gt-xs="48">
                        <div style="margin-top: 19px">
                            <h5>End date</h5>
                        </div>
                        <div>
                            <mat-form-field fxFlex.gt-xs="90" appearance="outline">
                                <input
                                        matInput
                                        [matDatepicker]="endDateDP"
                                        placeholder="End Date"
                                        name="endDate"
                                        formControlName="end">
                                <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
                                <mat-datepicker #endDateDP></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

        <button
                mat-raised-button
                color="primary"
                (click)="dialogRef.close({action: 'save', event: eventForm.value})"
                [disabled]="eventForm.invalid"
                aria-label="Add leave"
        >
            {{buttonTitle}}
        </button>


    </div>
</div>
