<div fxLayout="row wrap">
    <mat-form-field class="pl-16 " appearance="outline">
        <input
                matInput
                placeholder="filter by firstName"
                value=""
                (keyup)='filterBySearchField($event)'
        >
    </mat-form-field>
    <mat-form-field class="pl-16 pr-16" appearance="outline">
        <input
                matInput
                placeholder="filter by lastName"
                value=""
                (keyup)='filterBySearchField($event)'
        >
    </mat-form-field>
    <mat-form-field class="pl-16 pr-16" appearance="outline">
        <input
                matInput
                placeholder="filter by Cin"
                value=""
                (keyup)='filterBySearchField($event)'
        >
    </mat-form-field>
    <mat-form-field class=" pr-16" appearance="outline">
        <input
                matInput
                placeholder="filter by Grade"
                value=""
                (keyup)='filterBySearchField($event)'
        >
    </mat-form-field>
    <mat-form-field class=" " appearance="outline">
        <input
                matInput
                placeholder="filter by Etablishment"
                value=""
                (keyup)='filterBySearchField($event)'
        >
    </mat-form-field>

    <span fxFlex></span>
    <div *ngIf="role==='ROLE_ADMIN'" class="m-333">
        <button mat-button class="button-add" (click)="openPopUp({},true)">
            <mat-icon  style="color: #c0320d">add_circle</mat-icon>
            Add Teacher
        </button>
    </div>
</div>
<mat-card class="p-0">
  <div class="mat-box-shadow">
    <ngx-datatable class="material"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [rowHeight]="50"
                   [footerHeight]="50"
                   [limit]="10"
                   [rows]="rows"
                   [columns]="columns"
    >
      <ng-container *ngFor='let column of columns'>
          <ngx-datatable-column *ngIf='column.name === "Photo"' name="{{column.name}}">
              <ng-template ngx-datatable-cell-template let-row="row">
                  <img class="image pb-4" src="{{column.prop +row.photo.data}}" alt="">
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf='column.name !== "Actions" &&column.name !== "Cv"&&column.name !== "Photo" ' name="{{column.name}}"
                                prop="{{column.prop}}">
          </ngx-datatable-column>
          <ngx-datatable-column *ngIf='column.name === "Cv"' name="{{column.name}}">
              <ng-template ngx-datatable-cell-template let-row="row">
                    <span>
                        <button mat-icon-button color="primary" (click)="onDownloadFile(row.cv.name)"><mat-icon>cloud_download</mat-icon></button>
                    </span>
              </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column *ngIf='column.name === "Actions" && role==="ROLE_ADMIN"' name="Actions" prop="actions">
          <ng-template ngx-datatable-cell-template let-row="row">
                    <span>
                        <button mat-icon-button mat-sm-button class="mr-8" style="color: green"
                                (click)="openPopUp(row, false)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row, row.id)"><mat-icon>delete</mat-icon></button>
                    </span>
          </ng-template>
        </ngx-datatable-column>
      </ng-container>
    </ngx-datatable>
  </div>
</mat-card>


